.DS_Store
bin/*/
*build-*
*~
build-tmp/
doc/
debug.txt
.ycm_extra_conf.pyc
.ropeproject
arduino-1.8.2-linux64.tar.xz
arduino-1.8.2-linux64.tar
arduino-1.8.2/
arduino
avr-gcc
lib/AccelStepper/
lib/AccelStepper-1.57.zip
